{% extends "base/base2.html" %}
{% load static %}




{% block styles %}
<style>
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;  
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.thumb-sm {
    height: 36px;
    width: 36px;
}

.task-detail .task-dates li {
    width: 50%;
    float: left
}

.task-detail .task-tags .bootstrap-tagsinput {
    padding: 0;
    border: none
}

.task-detail .assign-team a {
    display: inline-block;
    margin: 5px 5px 5px 0
}

.task-detail .files-list .file-box {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box
}

.task-detail .files-list .file-box img {
    line-height: 70px
}

.task-detail .files-list .file-box p {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.add-new-plus {
    height: 32px;
    text-align: center;
    width: 32px;
    display: block;
    line-height: 32px;
    color: #98a6ad;
    font-weight: 700;
    background-color: #e3eaef;
    border-radius: 50%
}

.project-sort-item .form-group {
    margin-right: 30px
}

.project-sort-item .form-group:last-of-type {
    margin-right: 0
}

.project-box {
    position: relative
}

.project-box .badge {
    position: absolute;
    right: 20px
}

.project-box h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden
}

.project-box ul li {
    padding-right: 30px
}

.project-box .project-members a {
    margin: 0 0 10px -12px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.project-box .project-members a:first-of-type {
    margin-left: 0
}

.company-card .company-logo {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 3px
}

.company-card .company-detail {
    margin: 0 0 50px 75px
}
.text-muted {
    color: #98a6ad!important;
}

p {
    line-height: 1.6;
    font-size: 14px;
}

.bootstrap-tagsinput .label-info {
    background-color: #02c0ce;
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    margin: 3px 1px;
    border-radius: 3px;
}

</style>
{% endblock%}

{% block content %} <!-- block 1-->


<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">
         
        <div class="mr-3" style="margin-right:5px; margin-top:20px;">
            <a href="{% url 'proveedores' %}" class="custom-btn custom-btn-sand btn-sm mb-3"><i class="bi bi-arrow-left-circle"></i> Ir al listado de proveedores</a>
        </div>
    </div>
    
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">

                    
                        <div><h4 class="text-decoration-underline m-b-20">Proveedor #{{proveedor.id_proveedor}}</h4>
                        </div>
                        <div class="task-tags mt-4">
                            <div class="bootstrap-tagsinput">
                                <a class="btn tag label label-info" href="{% url 'proveedor_modificar' proveedor.id_proveedor %}">Editar Información del Proveedor</a>

                            </div>
    
                        </div>
                        <div class="border rounded">
                            <p class="fw-bolder">Nombre: {{proveedor.nombre_proveedor}}.</p>
                            <p class="fw-bolder">Correo: {{proveedor.correo}} 
                            <p class="fw-bolder">Telefono: {{proveedor.tlf_proveedor}}.</p>
                            <p class="fw-bolder text-break">Nota: {{proveedor.nota_proveedor}}.</p>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
            <!-- end col -->
            <div class="">
                <div class="">
                    <h4 class="text-decoration-underline fs-2 text-center m-b-30">Productos de este Proveedor</h4>
                    <hr className="hr hr-blurry" />
                    {% for producto in proveedor_productos %}
                    <div>
                        <div class="media">
                           
                            <div class="media-body">
                                <h5 class="mt-0 ">(Cod: {{producto.cod_producto|default:'NONE'}}) - {{producto.nombre_producto|default:'Sin nombre definido.'}}.</h5>
                                <span style="float: inline-end;"><a href="{% url 'producto_detail' producto.id_producto %}"> Ver producto</a></span>
                                <p class="font-13 fst-italic mb-0"> {{producto.descripcion_prod|default:'Sin Descripción.'}}</p>
                                <small class="text-muted">Cant: Min {{producto.cant_min|default:'NONE'}}, Max {{producto.ant_max|default:'NONE'}}</small>
                            </div>
                        </div>
                        
                    </div>
                    <hr className="hr hr-blurry" />
                    {% endfor %}
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
{% endblock %}