{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sobre Nosotros - Suministros Miranda 200 CA</title>
        <!-- Favicon-->
        <link href="{% static 'img/sum4.png' %}" rel="icon">
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="{% static 'thirdparty/bsicons/bs-icons-1.10.5/font/bootstrap-icons.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'base/portalnavbar.html' %}
        <!-- Header-->
        <header class="py-auto">
            <div class="container px-lg-1">
                <div class="p-1 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-4 fw-bold rounded-3">¡Conócenos!</h1>
                        <p class="fs-4">Somos una empresa dedicada al suministro de productos químicos, garantizando los mejores tratamientos químicos para la mejor operatividad de las calderas y obteniendo asi una calidad diferenciadora que busca siempre la satisfaccion de nuestros clientes</p>
                        <p class="fs-3 mb-0 bg-danger rounded-3 text-white fw-bold display-6"> "UN BUEN SERVICIO SATISFACE A QUIEN LO REALIZA Y A QUIEN LO RECIBE"</p>
            
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
         <!-- Content Row-->
      <div class="row gx-5 gx-lg-5 ">
        <div class="ms-5 col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Misión</h2>
                    <p class="card-text">Brindar a nuestros clientes soluciones integrales a la medida de sus necesidades que abarque proyectos de instalacion de calderas, 
                      su puesta en marcha, operación de servicio, dosificacion, tratamientos quimicos con los mas altos estandares de calidad
                    </p>
                </div>
  
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Visión</h2>
                    <p class="card-text">Convertinos en referencia nacional en el suministro de soluciones integrales en cuanto a la instalación de calderas, su puesta en marcha, operación de servicio
                      y tratamientos químicos y asimismo lograr expandirnos progresivamente al mercado internacional, contribuyendo de esta manera con el crecimiento de nuestros trabajadores y del país
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Política</h2>
                    <p class="card-text">Brindamos un servicio efectivo en proyectos de generacion de vapor mediante los procesos relacionados con las calderas y su uso en general, ganarnticando uan calidad
                      diferenciadora que bisca siempre la satisfacción de nuestros clientes </p>
                </div>
              
            </div>
        </div>
    
</div>
<!-- <section> begin ============================-->
  <section class="m-auto mb-5">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-7 text-lg-center"><img class="img-fluid mb-5 mb-md-0" src="{% static 'img/quimica1.jpg' %}" alt="" /></div>
        <div class="col-md-7 col-lg-5 text-center text-md-start">
          <h2>Ofrecemos los Mejores<br /> Productos Químicos <br/> De la Industria</h2>
          <p> En nuestros años de experiencia en el sector petrolero hemos logrado ser de los mejores proveedores de químicos para el tratado del crudo, algunos de nuestros beneficios son:</p>
          <div class="d-flex">
            <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <p class="ms-2">Materia Prima de Calidad.</p>
          </div>
          <div class="d-flex">
            <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <p class="ms-2">Personal Capacitado.</p>
          </div>
          <div class="d-flex">
            <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <p class="ms-2">Eficiencia Logística.</p>
          </div>
          <div class="d-flex">
            <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <p class="ms-2">Altos Estándares de Seguridad.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
<!-- Gallery -->
<div class="row">
  <div class="featured-text text-center mb-4 text-lg-left">
    <h2 class="fs-2">Nuestras Instalaciones</h2>
</div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'img/ft2.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'img/ft8.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'img/ft7.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'img/ft5.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'img/ft6.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'img/ft9.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>
</div>
<!-- Gallery -->



        <!-- Footer-->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="m-1 text-center list-inline-item"><p class="text-light small mb-4 mb-lg-0">&copy; Suministros Miranda 200, C.A.</p></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item text-center"> <a class="btn btn-dark" href="{% url 'portalPrincipal' %}">Inicio</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"> <a class="btn btn-dark" href="{% url 'politicas' %}">Politicas</a></li>
                </ul>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href=https://wa.me/+584248401379><i class="text-danger bi bi-whatsapp fs-4"></i></a>
                    </li>
                    
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/suministrosmiranda.ve?utm_source=qr&igsh=bzhhZG90OWh2NTR5"><i class="text-danger bi-instagram fs-4"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

    </body>
</html>
