#messages-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.custom-alert {
    animation: fade-out 1s 4s forwards;
    border: 1px solid #2b435a;
    margin: 5px;
    border-radius: 5px;
    opacity: 1;
}

.custom-alert-success{
    background-color: #afeeba;
    color: #250f0f;
}

.custom-alert-info{
    background-color: #5ebcfa;
    color: #250f0f;
}

.custom-alert-warning{
    background-color: #ffcd8d;
    color: #250f0f;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent; /* Fondo transparente */
    color: #1f1919; /* Texto blanco */
    border: none;
    cursor: pointer;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
