<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Políticas</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Barra de navegación-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Suministros Miranda 200</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#services">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Acceder</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-danger bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder display-5">Enterate de nuestras políticas y objetivos</h1>
                <p class="lead">En Suministros Miranda 200 siempre pensamos en todo, y por eso hemos desarrolllado una serie de políticas para garantizar el mejor desarrollo de nuestras actividades a nuestra distinguida clientela</p>
                <a class="btn btn-lg btn-light" href="#about">Iniciar Recorrido</a>
            </div>
        </header>
        <!-- Politicy-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 >Política </h2>
                        <p class="lead">Basado en los requisitos de la norma ISO 9001:2015, se ha estableclido las siguientes políticas: </p>
                        <ul>
                            <li>Brindar servicios efectivos en proyectos de generación de vapor</li>
                            <li>Contribuir a la instalación de calderas, su puesta en marcha y operación de servicios</li>
                            <li>Garanticar el apoyo en cuantio a tratamientos químicos obteniendo la satisfacción de nuestros clientes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Objetives-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 >Objetivos</h2>
                        <ul>
                            <li>Sastisfacer las necesidades de nuestros clienets y accionistas</li>
                            <li>Planificar, controlar y mejorar continuamente todos los procesos del Sistema de Gestión de Calidad</li>
                            <li>Garantizar el apoyo en cuantio a tratamientos químicos obteniendo la satisfacción de nuestros clientes</li>
                            <li>Asegurar la formación y capacitación de todo el personal de la organización</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ubication-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Estamos Ubicados</h2>
                        <p class="lead">Av. Mariño, Calle Jacinto Lara, Zona Industrial, San José de Guanipa, Edo. Anzoátegui.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Suministros Miranda 200 C.A</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
