{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'thirdparty/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'thirdparty/bsicons/bs-icons-1.10.5/font/bootstrap-icons.css' %}">
    {% block styles%}
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{titulo_web}}</title>
    
</head>

<body>
    {% include 'navbar.html' %}
    
    <div class="container-fluid">
        
            {% include 'message_holder.html' %}
        
        
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {% include 'sidebar.html' %}
            </div>
            <div class="col py-3 min-vh-100">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    
    <script src="{% static 'thirdparty/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            // Closing the alert
            $('#alert').alert('close');
        }, 5000);

        
        let inactivityTimer;
        const inactivityThreshold = 3600000;  // 1 hora en milisegundos

        function resetInactivityTimer() {
            clearTimeout(inactivityTimer);
            inactivityTimer = setTimeout(logoutUser, inactivityThreshold);
        }

        function logoutUser() {
            // Envía una solicitud al servidor para cerrar la sesión
            fetch('/logout/')  // Reemplaza '/logout/' con la URL de la vista de cierre de sesión de Django.
            .then(response => {
                if (response.ok) {
                    alert('Tu sesión ha sido cerrada debido a inactividad.');
                    // Redirige al usuario a la página de inicio de sesión o realiza la acción de cierre de sesión.
                    window.location.href = '/login/';  // Reemplaza '/login/' con la URL de inicio de sesión.
                } else {
                    console.error('Error al cerrar la sesión:', response.status);
                }
            })
            .catch(error => {
                console.error('Error al cerrar la sesión:', error);
            });
        }

        // Detectar actividad
        document.addEventListener('mousemove', resetInactivityTimer);
        document.addEventListener('keydown', resetInactivityTimer);
    
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>