{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bsicons/bs-icons-1.10.5/font/bootstrap-icons.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo_web}}</title>
    
</head>

<body>
    {% include 'navbar.html' %}
    
    <div class="container-fluid">
        
            {% include 'message_holder.html' %}
        
        
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {% include 'sidebar.html' %}
            </div>
            <div class="col py-3 min-vh-100">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        setTimeout(function () {
            // Closing the alert
            $('#alert').alert('close');
        }, 5000);
    </script>
</body>
</html>