{% extends "base/base2.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock%}

{% block content %} <!-- block 1-->

<div class="container container-sm">
    <h1>Inventario</h1>

     <!-- Opciones -->
<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">
        <div class="form-check" style="margin-right:20px;">
            <input type="checkbox" class="form-check-input mr-2" id="seleccionar-todo">
            <label class="form-check-label small" for="seleccionar-todo">Seleccionar Todo</label>
        </div>
        <div class="mr-3">
            <a href="{% url 'inventario_insertar' %}" id="crear-nuevo" class="btn btn-sm btn-primary mb-3"><i class="bi bi-plus-square"></i> Crear Nuevo</a>
        </div>
    </div>
</div>

<div style="overflow-x: auto; white-space: nowrap;">
    <table class="table table-striped table-bordered table-sm p-0" id="miTabla">
        <thead class="thead-dark">
            <tr class="px-0" style="padding-top: 0;padding-bottom: 0; margin: 0; font-size: 12px;">
                <th class="text-center"></th>
                <th class="text-center py-0">ID</th>
                <th class="text-center py-0">Producto</th>
                <th class="text-center py-0">Precio U. Ref.</th>
                <th class="text-center py-0">Disponible</th>
                <th class="text-center py-0">Cant. inicial</th>
                <th class="text-center py-0">Almacen</th>
                <th class="text-center py-0">Creado</th>
                <th class="text-center py-0">Ultima mod.</th>
                <th class="text-center py-0">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for inventario_elemento in inventario %}
            <tr>
                <td class="text-center"><input type="checkbox" class="seleccionar-elemento" data-id="{{ inventario_elemento.id_inventario }}"></td>
                
                <td class="text-center py-0 align-middle" style="padding: 0 5px;">{{ inventario_elemento.id_inventario }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.producto|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.precio_unit_ref|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.cant_disponible|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.cant_inicial|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.id_almacen|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.creado_en|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ inventario_elemento.fecha_ult_mod_inv|default:"N/A" }}</td>
                
                <td class="text-center py-0 align-middle" style="white-space: nowrap; padding: 5px;">
                    <button style="border:none; margin:0; padding:0;" ><a style="padding-top: 0;padding-bottom: 0; margin: 0; font-size: 12px;" class="btn btn-info btn-sm"  href="{% url 'inventario_modificar' inventario_elemento.id_inventario %}"><i class="bi bi-pen"></i> Editar</a></button>
                    
                    <button class="btn btn-danger btn-sm eliminar" data-id="{{ inventario_elemento.id_inventario }}" style="padding-top: 0;padding-bottom: 0; margin: 0; font-size: 12px;"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



</div>



<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="confirmarEliminarModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Eliminación</h4>
                <button type="button" class="close" style="border:none;" data-bs-dismiss="modal">&times;</button> <!-- Agrega este botón -->
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este elemento del inventario definitivamente?</p>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i>  Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmar-eliminar"><i class="bi bi-check-square"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %} <!-- FIN block 1-->

{% block scripts %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<!-- Librería JS de HTML5 export (botones de exportación) -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>


<script src="{% static 'js/inventario.js' %}"></script>
{% endblock %}