<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'ordenes' %}">Compañia mikasa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active border border-success p-2 mb-2 rounded-pill" aria-current="page" href="#">Espacio de trabajo</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
         </ul>
        {% comment %} <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
        {% if user.is_authenticated %}
        <p class="mb-2 mb-lg-0 text-success p-2">Bienvenido de vuelta {{user}}!</p>
        <ul class="navbar-nav mb-2 mb-lg-0">
          
          <li class="nav-item" style="padding-right: 5px;">
            <a class="nav-link p-2 mb-2 rounded-pill" aria-current="page" href="#">Perfil</a>
          </li>
          <li class="nav-item" style="padding-right: 5px;">
            <a class="nav-link p-2 mb-2" aria-current="page" href="{% url 'logout' %}">Salir</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>