
{% extends "base.html" %}
{% load static %}
{% block styles%}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock%}

{% block content %}
<div class="container mt-5">
    <h1>Proveedores</h1>

     <!-- Opciones -->
<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">
        <div class="form-check" style="margin-right:20px;">
            <input type="checkbox" class="form-check-input mr-2" id="seleccionar-todo">
            <label class="form-check-label small" for="seleccionar-todo">Seleccionar Todo</label>
        </div>
        <div class="mr-3">
            <a href="#" id="crear-nuevo" class="btn btn-sm btn-primary mb-3">Crear Nuevo</a>
        </div>
    </div>
</div>

<div style="overflow-x: auto; white-space: nowrap;">
    <table class="table table-striped table-bordered table-sm p-0" id="miTabla">
        <thead class="thead-dark">
            <tr>
                <th class="text-center"></th>
                <th class="text-center py-0">ID</th>
                <th class="text-center py-0">Nombre</th>
                <th class="text-center py-0">Correo</th>
                <th class="text-center py-0">Tlf</th>
                <th class="text-center py-0">Nota</th>
                <th class="text-center py-0">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td class="text-center p-0"><input type="checkbox" class="seleccionar-elemento" data-id="{{ proveedor.id_proveedor }}"></td>
                <td class="text-center py-0 align-middle">{{ proveedor.id_proveedor }}</td>
                <td class="text-center py-0 align-middle">{{ proveedor.nombre_proveedor|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ proveedor.correo|default:"N/A" }}</td>
                <td class="text-center py-0 align-middle">{{ proveedor.tlf_proveedor|default:"N/A" }}</td>
                <td class="text-center py-0">
                    <button class="btn btn-link ver-nota" data-bs-toggle="collapse" data-bs-target="#nota-{{ proveedor.id_proveedor }}">Ver Nota</button>
                    <div class="collapse" id="nota-{{ proveedor.id_proveedor }}">
                        {{ proveedor.nota_proveedor|default:"N/A" }}
                    </div>
                </td>
                <td class="text-center  align-middle" style="white-space: nowrap; padding: 5px;">
                    <button class="btn btn-info btn-sm editar" data-id="{{ proveedor.id_proveedor }}" style="padding: 0.4em; margin: 0; font-size: 12px;">Editar</button>
                    <button class="btn btn-danger btn-sm eliminar" data-id="{{ proveedor.id_proveedor }}" style="padding: 0.4em; margin: 0; font-size: 12px;">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


   

</div>


<!-- Modal para Crear/Editar -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Proveedor</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
                <form id="elemento-form">
                    {% csrf_token %}
                    <input type="hidden" id="elemento-id" name="elemento_id" value="">
                    <div class="form-group">
                        <label for="elemento-nombre">Nombre:</label>
                        <input type="text" class="form-control" id="elemento-nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="elemento-correo">Correo:</label>
                        <input type="email" class="form-control" id="elemento-correo" name="correo">
                    </div>
                    <div class="form-group">
                        <label for="elemento-tlf">Teléfono:</label>
                        <input type="tel" class="form-control" id="elemento-tlf" name="telefono">
                    </div>
                    <div class="form-group">
                        <label for="elemento-nota">Nota:</label>
                        <textarea class="form-control" id="elemento-nota" name="nota"></textarea>
                    </div>
                </form>
            </div>
            

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="confirmar-guardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="confirmarEliminarModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Eliminación</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button> <!-- Agrega este botón -->
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este elemento?</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmar-eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<!-- Librería JS de HTML5 export (botones de exportación) -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script src="{% static 'js/proveedores.js' %}"></script>

{% endblock %}
