{% extends "base/base2.html" %}
{% load static auth_extras %}

{% block styles %}
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0 !important;    
    }
    .negative-amount {
        color: #dc3545;
        font-weight: bold;
    }
    .positive-amount {
        color: #28a745;
    }
    .devolucion-amount {
        color: #007bff;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="container container-sm">
    <h1>Inventario</h1>

    <!-- Opciones -->
    <div class="row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            {% if user|has_higher_role:'gerente' %}
            <div class="mr-3">
                <a href="{% url 'inventario_insertar' %}" id="crear-nuevo" class="custom-btn custom-btn-green btn-sm mb-3">
                    <i class="bi bi-plus-square"></i> Crear Nuevo
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div style="overflow-x: auto; white-space: nowrap;">
        <table class="table table-striped table-bordered table-sm p-0" id="miTabla">
            <thead class="thead-dark">
                <tr class="px-0">
                    <th class="text-center py-0">ID</th>
                    <th class="text-center py-0">Producto</th>
                    <th class="text-center py-0">Movimiento</th>
                    <th class="text-center py-0">Precio U. Ref.</th>
                    <th class="text-center py-0">Disponible</th>
                    <th class="text-center py-0">Almacen</th>
                    <th class="text-center py-0">Creado</th>
                    
                    <th class="text-center py-0">OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for inventario_elemento in inventario %}
                <tr>
                    <td class="text-center py-0 align-middle">{{ inventario_elemento.id_inventario }}</td>
                    <td class="text-center py-0 align-middle">
                        <small>
                            <a href="{% url 'producto_detail' inventario_elemento.producto.id_producto %}">
                                {{ inventario_elemento.producto.nombre_producto|default:"N/A" }}
                            </a>
                        </small>
                    </td>
                    <td class="text-center py-0 align-middle">
                        {% if inventario_elemento.tipo_movimiento == 'SALIDA' %}
                            <span class="badge bg-danger">{{ inventario_elemento.tipo_movimiento }}</span>
                        {% elif inventario_elemento.tipo_movimiento == 'ENTRADA' %}
                            <span class="badge bg-success">{{ inventario_elemento.tipo_movimiento }}</span>
                        {% elif inventario_elemento.tipo_movimiento == 'DEVOLUCION' %}
                            <span class="badge bg-primary">{{ inventario_elemento.tipo_movimiento }}</span>
                        {% else %}
                            {{ inventario_elemento.tipo_movimiento|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td class="text-center py-0 align-middle">${{ inventario_elemento.precio_unit_ref|floatformat:2 }}</td>
                    <td class="text-center py-0 align-middle 
                        {% if inventario_elemento.tipo_movimiento == 'SALIDA' %}negative-amount
                        {% elif inventario_elemento.tipo_movimiento == 'DEVOLUCION' %}devolucion-amount
                        {% else %}positive-amount{% endif %}">
                        {% if inventario_elemento.tipo_movimiento == 'SALIDA' %}-{% endif %}
                        {{ inventario_elemento.cant_disponible }}
                    </td>
                    <td class="text-center py-0 align-middle">
                        <small><a href="{% url 'almacen_detail' inventario_elemento.id_almacen.id_almacen %}">{{ inventario_elemento.id_almacen.nombre_almacen|default:"N/A" }}</a></small>
                    </td>
                    <td class="text-center py-0 align-middle">{{ inventario_elemento.creado_en|date:"d/m/Y" }}</td>
         
                    <td class="text-center py-0 align-middle" style="white-space: nowrap; padding: 5px;">
                        {% if user|has_higher_role:'gerente' %}
                        <a style="border:none; margin:0; padding:0;"  class="btn btn-info btn-sm" href="{% url 'inventario_modificar' inventario_elemento.id_inventario %}">
                            <i class="bi bi-pen"></i> Editar
                        </a>
                        
                        <button style="border:none; margin:0; padding:0;"  class="btn btn-danger btn-sm eliminar" data-id="{{ inventario_elemento.id_inventario }}">
                           <small> <i class="bi bi-trash"></i> Eliminar</small>
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="confirmarEliminarModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Eliminación</h4>
                <button type="button" class="close" style="border:none;" data-bs-dismiss="modal">&times;</button> <!-- Agrega este botón -->
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este elemento del inventario definitivamente?</p>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i>  Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmar-eliminar"><i class="bi bi-check-square"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %} <!-- FIN block 1-->

{% block scripts %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<!-- Librería JS de HTML5 export (botones de exportación) -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<script src="{% static 'js/inventario.js' %}"></script>
{% endblock %}