{% extends "base/base2.html" %}
{% load crispy_forms_tags %} 
{% load static %}


{% block styles %}
<style>
    body{
        margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
    }
</style>
    
{% endblock%}

{% block content %}
<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">
         
        <div class="mr-3" style="margin-right:5px; margin-top:20px;">
            <a href="{% url 'productos' %}" class="custom-btn custom-btn-sand btn-sm mb-3"><i class="bi bi-arrow-left-circle"></i> Ir al listado de productos</a>
        </div>
    </div>
    
</div>
<div class=" container p-4">
    <h1>Insertar nuevo producto</h1>
    <form action="" id="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="margin-top:5px;">
            <button class="custom-btn custom-btn-green btn-sm text-center" name="guardar_y_regresar" type="submit" value="True"><i class="bi bi-plus-square"></i> Guardar y Salir</button>
            <button class="custom-btn custom-btn-green btn-sm text-center" name="guardar_y_crear_otro_producto" type="submit" value="True"><i class="bi bi-plus-square"></i> Guardar y Crear otra Orden</button>
            <a class="custom-btn custom-btn-granada btn-sm" href="{% url 'productos' %}"> <i class="bi bi-x-square"></i> Cancelar </a>
        </div>
        
    </form>
</div>


{% endblock %}