{% load static %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar aside-custom">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link aside-btn" href="#">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed aside-btn" data-bs-target="#ordenes-aside" data-bs-toggle="collapse" href="#">
          <i class=" bi bi-receipt"></i><span>Ordenes</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="ordenes-aside" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'ordenes' %}">
              <i class="bi bi-circle"></i><span>Listado</span>
            </a>
          </li>
          <li>
            <a href="{% url 'orden_insertar' %}">
              <i class="bi bi-circle"></i><span>Crear nuevo</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed aside-btn" data-bs-target="#inventario-aside" data-bs-toggle="collapse" href="#">
         <i class="bi bi-boxes"></i> <span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="inventario-aside" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'inventario' %}">
              <i class="bi bi-circle"></i><span>General</span>
            </a>
          </li>
          <li>
            <a href="{% url 'almacenes' %}">
              <i class="bi bi-circle"></i><span>Almacenes</span>
            </a>
          </li>

        </ul>
      </li>
      
      <!-- End Tables Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed aside-btn" data-bs-target="#productos-aside" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box2 "></i> <span>Productos </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="productos-aside" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'productos' %}">
              <i class="bi bi-circle"></i><span>Listado</span>
            </a>
          </li>
          <li>
            <a href="{% url 'producto_insertar' %}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a href="{% url 'proveedores' %}">
              <i class="bi bi-circle"></i><span>Proveedores</span>
            </a>
          </li>
          
        </ul>
      </li> 



       <li class="nav-item">
        <a class="nav-link collapsed aside-btn" data-bs-target="#clientes-aside" data-bs-toggle="collapse" href="#">
          <i class="bi bi-briefcase-fill"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="clientes-aside" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'clientes' %}">
              <i class="bi bi-circle"></i><span>Listado</span>
            </a>
          </li>
          <li>
            <a href="{% url 'cliente_insertar' %}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          
        </ul>
      </li> 
      <!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed aside-btn" data-bs-target="#destinos-aside" data-bs-toggle="collapse" href="#">
          <i class="bi bi-truck"></i><span>Destinos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="destinos-aside" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'destinos' %}">
              <i class="bi bi-circle"></i><span>Listado</span>
            </a>
          </li>
          <li>
            <a href="{% url 'destino_insertar' %}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a href="{% url 'prod_dest_lista' %}">
              <i class="bi bi-circle"></i><span>Consumo</span>
            </a>
          </li>
          
        </ul>
      </li> 
      <!-- End Components Nav -->

      <li class="nav-heading">Otros</li>

      <li class="nav-item">
        <a class="nav-link collapsed aside-btn" href="#">
          <i class="bi bi-person"></i>
          <span>Perfil <span class="badge bg-secondary">WIP</span></span>
        </a>
      </li><!-- End Profile Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->