{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{titulo_web}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/sum4.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'thirdparty/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'thirdparty/bsicons/bs-icons-1.10.5/font/bootstrap-icons.css' %}">


  <!-- Template Main CSS File -->
  <link href="{% static 'css/style_person.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  {% block styles %}
  {% endblock %}

</head>

<body>
    {% include 'base/header2.html' %}
    {% include 'base/aside2.html' %}
    
    <main id="main" class="main">
        {% include 'base/message_holder.html' %}

        <div class="pagetitle">
          <h1>{{titulo_page}}</h1>
          <nav style="display:none;">
            <ol class="breadcrumb">
                
              <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
              <li class="breadcrumb-item">Inventario</li>
              <li class="breadcrumb-item active">General</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
    
              <div class="card">
                <div class="card-body">
    
                 {% block content %}
                 {% endblock %}
    
                </div>
              </div>
    
            </div>
          </div>
        </section>
    
      </main><!-- End #main -->




    {% include 'base/footer2.html' %}
  <script src="{% static 'thirdparty/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>